<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="css/line.css">
</head>
<body>
    <div class="container">
        <h4>{{ site.title }}</h4>
        {{ content }}
        
        <h5>發送 Line 通知</h5>
        <form id="messageForm">
            <textarea id="message" placeholder="輸入要發送的訊息" required></textarea>
            <button type="submit">發送訊息</button>
        </form>
        <div id="status"></div>
    </div>
    <script src="js/line.js"></script>
</body>
</html>
